@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200&family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

.Mypic{
    border-radius:200px;
    margin-top:3em;
    margin-bottom:3em;
    width:300px;
    box-shadow: -30px 30px 20px rgba(0,0,0,0.4);
    transition: 0.4s;
    cursor:pointer;
}

.Mypic:hover{
    width:350px;
    border-radius: 20px;
}

body{
    background:url("../wp5952062-youtube-thumbnail-wallpapers.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height:150em;

}

.secdiv{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
}

.imgdiv{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
}

.myname{
    color:rgb(204, 191, 10);
    text-shadow: 2px 2px 2px #000000;
    margin:1em;
    transition: 0.4s;
    font-weight:bolder;
    font-family: 'Julius Sans One', sans-serif;
    cursor: pointer;
}


.myname:hover{
    color: rgba(21, 172, 34, 0.897);
    text-shadow: 2px 2px 2px #000000;
}

.title{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
}

.cv{
    box-shadow: -30px 30px 20px rgba(0,0,0,0.4);
    transition: 0.4s;
}

.cv:hover{
    width:950px;
}

.resume{
    color:rgb(251, 251, 251);
    margin:1em;
    text-shadow: 2px 2px 2px #000000;
}

.p{
    color:rgb(243, 243, 243);
    font-size:20px;
    font-family: 'Mali', cursive;
    font-style: italic;
    padding:1em;
}


.giffy{
    box-shadow: -30px 30px 20px rgba(0,0,0,0.4);
    transition: 0.4s;
    
}

.giffy:hover{
    box-shadow:none;
}

.mygif{
    
    width:300px;
    transition:0.4s;
    cursor: pointer;
}

.mygif:hover{
    width:290px;
}

.giffy{
    cursor: pointer;;
}
@media only screen and (max-width:1600px){
    
    .Mypic{
        width:200px;
    }

    .giffy{
        width:200px;
    }

    .title{
        display:flex;
        flex-direction: column;
        }

    .cv{
        width:300px;
    }
    

    .myname{
        width: 300px;
    }
}